<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-admin-app">

  <div class="container">

    <div class="form-top">
       <div class="form-top-left">
          <h3 translate>{{"COMMON.ABOUT"}}</h3>
                                
      </div>
      <div class="form-top-right">
         <i class="fa fa-lock"></i>
      </div>
    </div>    
  

<div class="form-bottom">
	<h4 translate>
		{{"COMMON.ABOUT1"}}
	</h4>

	<h4 translate>
	{{"COMMON.ABOUT2"}}
	</h4>

  <h4 translate>
  {{"COMMON.ABOUT3"}}
  </h4>

<ul>
  <li>
  rajkoilic@gmail.com
  </li>
  <li>
  milossavic@gmail.com
  </li>
  <li>
  vladimirbaumgartner@gmail.com
  </li>
</ul>



<iframe width="900" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=44.813727,20.432235&amp;ie=UTF8&amp;&amp;output=embed"></iframe><br />

</div>

</div>
  </body>

</html>