<!DOCTYPE html>
<html>
<head>
    <title>Insurance</title>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/style.css">
    <link href="./assets/css/company.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/solution.css" rel="stylesheet">
</head>
<body ng-app="merchant-admin-app">

		<div>
          <img src="assets/img/insurance7.jpg" width="75%" height="100%"/>
     	 </div>

  
  </body>

</html>